 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.line-1{
    position: fixed;  
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-30%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 1s steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: 50px;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }
  
  a:hover, a:active, a:focus {
    color: #f6f6f6;
    outline: none;

  }

  ::-webkit-scrollbar{
    width: 5px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #5c618f;
    background: linear-gradient(180deg,#5c618f 0%, #221c2b 65%);
  }

  .section-title {
    padding-bottom: 15px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title h4 {
    color: #bfbdbd;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
  }

  .overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  section {
    position: relative;
    padding: 100px 0;
  }

  #book, 
  #outlet,
  #testimonial {
    text-align: center;
  }

  .about-image img,
  .book-thumb img {
    width: 100%;
  }
  
  #google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    
    background: #63687b;
    box-shadow: 2px 2px 7px -1px rgba(0,0,0,0.75);
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
    border-radius: 70px;
  }
  .section-btn:hover {
    transform: scale(1.1);

  }
  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background: linear-gradient(90deg,#ffffff 0%, #d1d1d1 70%);
    
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 70%;
    border: 2px solid #504949;
    border-top-color: #ffffff;
    animation: spinner 1.0s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }

  .custom-navbar .navbar-brand span {
    color: #ce3232;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn {
    display: inline-block;
    margin: 0.2em 0 0 1em;
  }
  .custom-navbar .navbar-nav.navbar-right .section-btn:hover {
    color: #ffffff;
    transform: scale(0.90);
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn:focus {
    color: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn a {
    padding: 10px 25px;
  }

  .custom-navbar .nav .section-btn a:hover {
    color: #ffffff;
     transform: scale(1.2);
  }

  .custom-navbar .nav li a {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    padding-right: 22px;
    padding-left: 22px;
    text-transform: uppercase;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #eaeaea;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
      background-color: transparent;
      transform: scale(1.2);
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #000000;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #5c618f;
      background: linear-gradient(90deg,#5c618f 0%, #221c2b 70%);
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 12px 0;
    }

    .top-nav-collapse .navbar-brand {
     
      filter: opacity(7.1) drop-shadow(0 0 0 rgb(0, 0, 0)); 
    }
    .navbar-brand:hover{
      transform: scale(1.08);
    }

    .top-nav-collapse .nav li a {
      color: #ffffff;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }



  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home {
    padding: 0;
  }

  #home h1 {
    color: #ffffff;
    padding-bottom: 30px;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
  }

  @media (min-width: 768px) {
    .slider .col-md-8 {
      padding-left: 0;
    }
  }

  .slider .owl-dots {
    position: absolute;
    top: 50%;
    right: 2em;
    justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot {
    display: block;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 7px 10px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #c33c3c;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: pointer;
    padding: 4em 0 0 2em;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(../images/slide-2.png);
  }

  .slider .item-second {
    background-image: url(../images/slide-3.png);
  }

  .slider .item-third {
    background-image: url(../images/slide\ -1.png);
  }
  .slider .item-first .section-btn {
    border: 0px;
  }
  .slider .item-first .section-btn:hover {
    color: white;
  }

  .slider .item-second .section-btn {
    border: 0px;
  }

  .slider .item-second .section-btn:hover {
    color: white;
  }

  .slider .item-third .section-btn {
    border: 0px;
  }

  .slider .item-third .section-btn:hover,
  .slider .item-third .section-btn:focus {
    transform: scale(1.07);
    color: white;
  }



  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about {
    padding-bottom: 15rem;
    background: linear-gradient(90deg, #5c618f, #221c2b);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
  }

  .about-info {
    padding: 0 6em 5em 0;
  }

  .about-info .section-title {
    padding-bottom: 20px;
  }

  .about-image {
    position: absolute;
  }
  .about .section-btn:hover{
   border-radius: 0px;
  }


  /*---------------------------------------
      Book A table              
  -----------------------------------------*/

  #book { 
      border-radius: 0px;;
    }
  .book-thumb {
    position: relative;
    overflow: hidden;
    cursor: default;
  }

  .book-info {
    padding: 10px 30px 20px 30px;
  }
  .book .section-btn{
    margin-bottom: 3rem ;
  }

  .book-thumb .book-hover {
    position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 26%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.5s 0.2s;
    
  }.book-thumb:hover{
    box-shadow: 0px 0px 22px -12px rgba(0,0,0,0.75);
  }

  .book-thumb:hover .book-hover {
    opacity: 1.0;
    transition-delay: 0.6s;
    transform: translateY(0);
    cursor: default;
    padding-bottom: 0;
    background: linear-gradient(90deg, #5c618f, #221c2b);
    background-size: 300% 300%;
    animation: gradient 7s ease infinite;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
  }

  .book-thumb img {
    transition: 0.5s 0.2s;
  }

  .book-thumb:hover img {
    transform: scale(1.09);
  }
  .img-book{
   border-radius: 0px;

  }

  .book-thumb .social-icon li a {
    background: #292929;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #d9d9d9;
    font-size: 20px;
    margin: 15px 5px 0 5px;
  }

  .book-thumb .book-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .book-item h4 {
    color: #ffffff;
    padding: 8rem;
  }

  .book-info p {
    color: #bfbdbd;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
  }



  /*---------------------------------------
     Outlets---        
  -----------------------------------------*/

  #outlet {
    padding-bottom: 0;
    background: linear-gradient(90deg, #000000, #30263f);

    }

  #outlet .container {
    width: 100%;
  }

  #outlet .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .outlet-thumb img {
    width: 100%;
    transition: 0.5s;
    border-radius: 0px;
  }

  .outlet-thumb:hover img {
    transform: scale(1.14);
  }
  .outlet-thumb video {
    width: 100%;
    transition: 0.8s;
    border-radius: 0px;
  }
  .outlet-thumb:hover video {
    transform: scale(1.16);
  }
  #outlet .outlet-thumb {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: 102%;
  }

  .outlet-thumb .outlet-info {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding: 25px 30px;
    transition: 0.5s 0.2s;
  }

  .outlet-info .outlet-item {
    float: left;
  }
  .outlet-info .outlet-price span {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    display: block;
    margin-top: 10px;
  }

  .outlet-thumb .outlet-info h3,
  .outlet-thumb .outlet-info p,
  .outlet-thumb .outlet-info span {
    transform: translateY(100%);
    opacity: 0;
    display: block;
    transition: 0.5s 0.2s;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }

  .outlet-thumb .outlet-info h3 {
    margin-top: 0;
  }

  .outlet-thumb .outlet-info p {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .outlet-thumb:hover .outlet-info h3,
  .outlet-thumb:hover .outlet-info p,
  .outlet-thumb:hover .outlet-info span {
    transform: translateY(0px);
    opacity: 1.0;
  }

  .outlet-thumb:hover .outlet-info {
    background: rgba(0,0,0,0.8);
  }


  /*---------------------------------------
      TESTIMONIAL             
  -----------------------------------------*/

  #testimonial {
    background: url('../images/Bg-t.png');
    background-size: cover;
    margin-top: 20rem;
  }
  .item{
    z-index: 0;
  }
  .test-2{
    text-align:center !important;
    padding-top: 20px; 
    color: #ffffff !important;

  }
  #testimonial .owl-dots {
    position: relative;
    top: 0;
    right: 0;
    justify-content: center;
  }

  #testimonial .owl-theme .owl-dots .owl-dot,
  #testimonial .owl-theme .owl-dots .owl-dot span {
    display: inline-block;
  }

  #testimonial .owl-theme .owl-dots .owl-dot span {
    margin: 20px 5px;
  }

  #testimonial p {
    color: #d9d9d9;
    font-size: 20px;
    line-height: 35px;
  }

  .tst-author {
    margin-top: 20px;
  }

  .tst-author h4,
  .tst-author span {
    color: #b2b2b2;
  }

  .tst-author span {
    margin-left: 5px;
  }

  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact .section-title {
    padding-bottom: 0;
  }

  #contact .text-success,
  #contact .text-danger {
    display: none;
  }

  #contact .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

  #contact .form-control:hover,
  #contact .form-control:focus {
    border-bottom-color: #c9c9c9;
  }

  #contact input {
    height: 55px;
  }

  #contact button#cf-submit {
    background-color: #5c618f;
    background: linear-gradient(90deg, #5c618f, #221c2b);
    color: #ffffff;
    font-weight: bolder;
    height: 50px;
    border-radius: 70px;
  }

  #contact button#cf-submit:hover {
    transform: scale(0.97);
    color: #ffffff;
  }
  /*---------------------------------------
     FOOTER             
  -----------------------------------------*/

  footer {
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 120px 0;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #5c618f, #221c2b);
    background-size: 300% 300%;
    animation: gradient 7s ease infinite;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    color: rgb(175, 175, 175);
    font-size: 20px;
  }

  footer a,
  footer p {
    color: #a2a1a1;
  }

  footer strong {
    color: #d9d9d9;
  }

  footer address p {
    margin-bottom: 0;
  }

  .footer-info,
  footer .social-icon {
    margin-top: 10px;
  }

  .footer-open-hour {
    background: url('../images/Testimonial.png') center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 0;
    padding: 40px 0 40px 80px;
    overflow: hidden;
    position: relative;
    right: 20px;
    bottom: 20px;
  }

  .footer-open-hour::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2222;
  }
  .footer-open-hour:hover {
    transition-duration: 0.8s;
    box-shadow: 0px 0px 43px -18px rgba(0,0,0,0.75);
  }
  .footer-open-hour h2 {
    color: #ffffff;
  }

  .footer-open-hour p {
    font-weight: bolder;
    color: #d9d9d9;
  }

  .footer-open-hour strong {
    color: #f9f9f9;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #000000;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: red;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }


  @media only screen and (max-width: 1200px) {
    .about-info {
      padding-right: 0;
    }

    .about-image {
      position: relative;
    }
  }


  @media only screen and (max-width: 992px) {
    section {
      padding: 60px 0;
    }

    .custom-navbar .section-btn {
      margin-left: 1em;
    }

    .slider .item {
      background-position: center;
    }

    .about-info {
      padding: 0;
    }

    .book-info {
      margin-bottom: 50px;
    }

    #outlet .outlet-thumb {
      width: 103%;
    }

    #testimonial {
      background-position: 50% 0 !important;
    }

    #google-map,
    .footer-info {
      margin-bottom: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #fffefe;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .custom-navbar .navbar-nav.navbar-right .section-btn {
      display: block !important;
      width: 50%;
      margin: 10px auto 10px auto;
      padding: 10px;
    }

    .custom-navbar .section-btn a {
      color: #ffffff !important;
    }

    .slider .caption {
      padding: 0;
    }

    .outlet-thumb .outlet-info {
      top: 80%;
    }

    footer {
      padding: 60px 0;
      padding-bottom: 60px;
    }

    .footer-open-hour {
      right: 0;
      bottom: 0;
      margin-top: 30px;
    }
  }


  @media only screen and (max-width: 580px) {
    h1 {
      font-size: 2.1em;
    }

    h2 {
      font-size: 1.8em;
    }

    .outlet-thumb .outlet-info {
      top: 60%;
    }
  }
/*ChatBot*/
.chat_icon{
	position: fixed;
	bottom: 15px;
	right: 25px;
	z-index: 1000;
	padding: 0;
	font-size: 40px;
	color: aqua;
	cursor: pointer;
}
.chat_icon:hover{
  color : rgb(61, 125, 214);
  transform: scale(1.1);
  transition: 0.4s;
}
.chat_box{
  border-radius: 10px;
	width: 350px;
  padding-top: 3px;
	position: fixed;
	bottom: 70px;
	right: 24px;
	background: linear-gradient(180deg, #5c618f, #27222f);
	z-index: 1000;
	transition: all 0.5s ease-out;
	transform: scaleY(0);
}
.chat_box.active{
	transform: scaleY(1.0);
}
#messages{
	padding: 20px;
}
.my-conv-form-wrapper textarea{
	overflow: none;
	resize: none;
}
.hidden{
	display: none !important;
}

/*Rating*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.rate{
  position: relative;
  width: 400px;
  background: linear-gradient(90deg, #5c618f, #27222f);
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rate .post{
  display: none;
}
.rate .text{
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.rate .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
}
.rate .edit:hover{
  text-decoration: underline;
}
.rate .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: rgb(0, 0, 0);
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
  
}
input:checked ~ label{
  color: #fd4;
  transform: scale(1.17);
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "HATE IT! ";
  color: #fd4;
  text-shadow: 0 0 20px #952;
}
#rate-2:checked ~ form header:before{
  content: "DID NOT LIKED IT! ";
  color: #fd4;
  text-shadow: 0 0 20px #952;
}
#rate-3:checked ~ form header:before{
  content: "IT WAS GOOD! ";
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-4:checked ~ form header:before{
  content: "I LIKED IT!";
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-5:checked ~ form header:before{
  content: "I LOVED IT!";
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.rate form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: visible;
  border: 0px;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  border-radius: 14px;
  outline: none;
  color: white;
  background: #27222f;
  padding: 10px;
  font-size: 17px;
  resize: none;
  border: 0px;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  border: 1px;
  width: 100%;
  border-radius: 50px;
  outline: none;
  background:  #221c2b;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #5c618f;
  transform: scale(0.93);
  transition: 0.7s;
}

/*POPUP*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: transparent;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: auto;
}

.popup h2 {
  margin-top: 0;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 48px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.popup .close:hover {
  color: #ffffff;
  transform: scale(1.2);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.tr{
  border :rgb(61, 125, 214) 2px;
}











